{% extends "searchifyApp/layout.html" %}
{% load static %}

{% block title %}
Searchify
{% endblock %}

{% block banner %}
    <!-- Banner -->
    <section id="banner">
        <header>
            <h1 class='indexHeader'>Welcome to Searchify</h1>
        </header>
    </section>
{% endblock %}

{% block body %}
<div class="instagram">
    <!-- Display all images -->
    {% for post in post_list %}
    <figure class="figure col-3">
        <img src="{{ post.image.url }}" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption text-right">
            {{ post.content }}
            <span class="photoTag">
                <!-- Display tags that belong to the image -->
                {% for tag in post.tagged_posts.all %}
                <a class="photoTagColor text-decoration-none" href="{% url 'searchifyApp:result' tag.tag%}">
                    #{{ tag.tag }}
                </a>
                {% endfor %}
            </span>
        </figcaption>
    </figure>
    {% endfor %}


    <!-- As a demonstration, the media/static root that stores the images are in a separate location, 
        static/images, simulating cloud services like Amazon S3. The Heroku filesystem used here is 
        ephemeral however - hat means images uploaded will only last 24hours after being uploaded, 
        therefore the first 7 posts are hard coded for visual and demonstration purposes and image URL 
        will not be searchable. Otherwise, feel free to register an account, upload, share, and searchify! -->


</div>
{% endblock %}

{% block script %}
{% endblock %}