{% extends "searchifyApp/layout.html" %}
{% load static %}

{% block title %}
Profile: {{ profileName }}
{% endblock %}

{% block banner %}
    <!-- Banner -->
    <section id="banner">
        <header>
            <h1 class='indexHeader'>Welcome to <span class="profileName">{{ profileName }}</span> Searchify</h1>
        </header>
    </section>
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
<div class="instagram">
    <!-- Display images for this user/profile -->
    {% for post in post_list %}
    <figure class="figure col-3">
        <img src="{{ post.image.url }}" class="figure-img img-fluid rounded" alt="">
        <figcaption class="figure-caption text-right">
            {{ post.content }}
            <span class="photoTag">
                <!-- Display image's tags -->
                {% for tag in post.tagged_posts.all %}
                <a class="photoTagColor text-decoration-none" href="{% url 'searchifyApp:result' tag.tag%}">
                    #{{ tag.tag }}
                </a>
                {% endfor %}
            </span>
        </figcaption>
    </figure>
    {% endfor %}
</div>
{% else %}
<div class="instagram">
    Don't have an account? <a href="{% url 'searchifyApp:register' %}">Register here.</a></div>
{% endif %}
{% endblock %}

{% block script %}
{% endblock %}
