{% extends "searchifyApp/layout.html" %}
{% load static %}

{% block title %}
Search Snaps
{% endblock %}

{% block body %}

{% if not request.user.is_authenticated %}
<script>
    window.location.href = '{% url "searchifyApp:login" %}';
</script>
{% endif %}

<!-- Form to search by Content -->
<div class="p-4 rounded col-lg-10 mx-auto">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-form-mb-4">Search</legend>
            <div class="searchForm"> 
               {{ form.as_p }}
            </div>
        </fieldset>
        <div class="form-group searchForm">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</div>

{% endblock %}