{% extends "searchifyApp/layout.html" %}
{% load static %}

{% block title %}
Share Snaps
{% endblock %}

{% block body %}

{% if not request.user.is_authenticated %}
<script>
    window.location.href = '{% url "searchifyApp:login" %}';
</script>
{% endif %}


<div class="p-4 rounded col-lg-10 mx-auto">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-form-mb-4">Snap Today</legend>
            <div class="shareForm"> 
                {{ createform.as_p }}
                {{ tagform.as_p }}
            </div>
            
        </fieldset>
        <div class="form-group shareForm">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</div>

{% endblock %}