{% extends "searchifyApp/layout.html" %}
{% load static %}

{% block title %}
User List
{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
<div class="instagram">
    <ul class="list-group">
        <h2 class="resultHeader">Search Results: {{ searchName }}</h2>
    {% for user in userlist %}

    <a href="{% url 'searchifyApp:profile' user %}"><li class="list-group-item">{{ user }}</li></a>

    {% endfor %}
    </ul>
</div>
{% else %}
<div class="instagram">
    Don't have an account? <a href="{% url 'searchifyApp:register' %}">Register here.</a></div>
{% endif %}
{% endblock %}


{% block script %}
{% endblock %}
